
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON*/ 
.paging{
    padding: 1% 10%;
}

.date, .written-by, .also-like{
    color: rgb(112, 110, 110);
}
 
.date, .img-description{
    font-size: 0.7rem;
}

.article span{
    
    background-color: yellow;
}


ul li{
    margin: 1% ;
}

.written-by a{
    text-decoration: none;
}
   



/* Nav */

.container1{
    padding-left:10%;
    padding-right: 10%;
    padding-top: 30px;
    min-height: 80px;
    background-image: url(/img/pattern.png);
    background-size: 300px ;
    background-color: #4EA0FF;
}

.logo img{
    max-width: 155px;
}


/*header* title + credits + date*/
.header1 h1{
    font-size: 2rem;
}

.header1 span{
    color: rgb(0, 157, 255);
}

.written-by{
    font-weight: bold;
}

.wallpaper {
    margin: 1% 0;
    max-height: 300px;
}
.wallpaper img{
    max-height: 300px;
}

.header1, .header-wallpaper{
    margin-bottom: 2%;
}


/*main section1*/

.article p{
    margin-bottom: 3% ;
}

.article{
    margin-bottom: 2%;
}



/*table section*/
table{
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 2%;
}

thead{
    background-color: #4EA0FF;
    color: white;
    font-weight: bold;
}

th{
    min-width: 150px;
}

td{
    font-weight: bold;

}
.color{
    background-color: rgba(50, 140, 195, 0.434);
}


/* footer section*/

.also-like{
    font-weight: bold;
   
}

.other-articles{
    margin-top: 2%;
}

.alsolike{
    background-image: url(/img/monitor.jpg);
    min-height: 150px; 
    max-width: 300px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}
.alsolike1{
    background-image: url(/img/graph.jpg);
    min-height: 150px; 
    max-width: 300px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom:2%;
   
}

