
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON*/ 
.paging{
    padding: 1% 10%;
}



/*header section*/

.container1{
    padding-left:10%;
    padding-right: 10%;
    padding-top: 30px;
    min-height: 80px;
    border: 2px solid black;
    background-image: url(/img/pattern.png);
    background-size: 300px ;
    background-color: #4EA0FF;
    background-repeat: repeat-x;
}

.header-logo img{
    max-width: 155px;
}

